.action {
    background-color: darkslategray;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.action__item {
    padding: 2px 4px;
}

.action__item--clickable:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.action__pad {
    flex-grow: 1;
}
