.city {
    background-color: lawngreen;
    border: 12px forestgreen solid;

    flex-grow: 1;
    box-sizing: border-box;
}

.city__table {
    height: 100%;
    width: 100%;
    table-layout: fixed;
}

.city__data {
    height: auto;
    transition: 500ms ease background-color;
    padding: 12px;
}

.city__data:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.city__lot {
    height: 100%;
}

.city__lot--highlight {
    background-color: rgba(255, 255, 255, 0.5);
    transition: 500ms ease background-color;
}

.city__occupied {
    text-align: center;
}

.city__action {
    background-color: darkslategray;
    color: white;
    text-decoration: none;
    padding: 4px 8px;
    border: none;
    border-radius: 2px;
    width: 100%;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.zone {
    display: grid;
    align-content: stretch;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);

    text-align: center;
    height: 100%;
    width: 100%;
    margin-bottom: 8px;
}

.zone--empty {
    display: block;
}

.zone__building {
    height: 100%;
    width: 100%;
    padding: 12px 0;
    box-sizing: border-box;
    place-self: stretch;
    cursor: pointer;
}

.zone__building--warning {
    background-color: yellow;
}

.zone__building--severe {
    background-color: firebrick;
    color: white;
}

.zone__building--is-0 {
    grid-column: 1;
    grid-row: 1;
}

.zone__building--is-1 {
    grid-column: 2;
    grid-row: 1;
}

.zone__building--is-2 {
    grid-column: 1;
    grid-row: 2;
}

.zone__building--is-3 {
    grid-column: 2;
    grid-row: 2;
}

.zone__text {
    padding: 0;
}

.zone__text--attention {
    animation: pulse 4s ease infinite ;
}
