.game {
    background-color: slategray;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

@import "./status.scss";
@import "./city.scss";
@import "./actionbar.scss";
@import "./overlay.scss";
@import "./menu.scss";
