.home {
    background-image: url("/img/home.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home__dialog {
    background-color: darkslategray;
    color: white;
    padding: 20px;
    max-width: 360px;
}

.home__title {
    margin: 0;
}

.home__buttons {
    text-align: right;
    width: 100%;
}

.home__button {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 4px;
    text-decoration: none;
    color: white;
}

.home__table {
    width: 100%;
}

.home__input {
    width: 100%;
}
