@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Titillium+Web');

$font-main: "Do Hyeon",sans-serif;
$font-heading: "Titillium Web",sans-serif;

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#app {
    background-color: black;
    font-family: $font-main;
    font-size: 16pt;

    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    min-height: 100vh;
    height: 100vh;
    width: 100vw;

    z-index: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
}

button {
    background-color: darkslategray;
    color: white;
    cursor: pointer;

    font-family: $font-main;
    font-size: 12pt;
    padding: 4px;
}

button:disabled {
    color: rgba(255, 255, 255, 0.8);
    cursor: not-allowed;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.transition-view-enter,
.transition-view-leave-to {
    opacity: 0;
}

.transition-view-enter-to,
.transition-view-leave {
    opacity: 1;
}

.transition-view-enter-active,
.transition-view-leave-active {
    transition: 2s ease all;
}

@import "./home";
@import "./game";
