.menu {
    padding: 4px;
    max-height: 80vh;
    overflow-y: auto;
    max-width: 100%;
}

.menu__heading {
    margin: -4px -4px 0 -4px;
    padding: 4px 12px;
    background-color: darkslateblue;
}

.menu__content {
    width: 100%;
}

.menu__content--pad {
    width: auto;
    margin: -4px -4px 0 -4px;
    padding: 4px 12px;
}

.menu__subheading {
    margin: 0 -12px;
    padding: 4px 12px;
    background-color: rgba(0, 0, 0, 0.2);
}

.menu__text {
    margin: 4px 0;
}

.menu__text:first-child {
    margin-top: 0;
}

.menu__text:last-child {
    margin-bottom: 0;
}

.menu__text--bold {
    text-transform: uppercase;
}

.menu__action {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    width: 100%;
}

.tablelist {
    width: 100%;
}

.tablelist__header-item {
    padding: 4px 8px;
}

.tablelist__header-item:not(.tablelist__header-item--main) {
    width: fit-content;
}

.tablelist__row:hover {
    background-color: rgba(0, 0, 0, 0.2);

}

.tablelist__data {
    padding: 0 8px;
}

.transition-unfold-enter,
.transition-unfold-leave-to {
    transform: scaleY(0) translateY(-100%);
}

.transition-unfold-enter-to,
.transition-unfold-leave {
    transform: scaleY(1) translateY(0);
}

.transition-unfold-enter-active,
.transition-unfold-leave-active {
    transition: 400ms ease all;
}
