.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlay__dialog {
    background-color: darkslategray;
    box-shadow: 4px black;
    color: white;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.75);

    width: 100vw;
    max-width: 640px;
    z-index: 200;
}

.overlay__hint {
    font-size: 12pt;
    color: white;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.75);
}

.transition-overlay-enter,
.transition-overlay-leave-to {
    opacity: 0;

    .overlay__dialog {
        transform: translateY(20px);
    }
}

.transition-overlay-enter-to,
.transition-overlay-leave {
    opacity: 1;

    .overlay__dialog {
        transform: scale(1, 1) translateY(0);
    }
}

.transition-overlay-enter-active,
.transition-overlay-leave-active {
    transition: 400ms ease all;

    .overlay__dialog {
        transition: 400ms ease all;
    }
}
