.status {
    background-color: darkslategray;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.status__item {
    padding: 2px 4px;
}

.status__pad {
    flex-grow: 1;
}
