<template>
    <div class="menu">
        <h2 class="menu__heading">Build on lot</h2>
        <div class="menu__content menu__content--pad">
            <h3 class="menu__subheading">{{ obj.name }}</h3>
            <p class="menu__text">
                <span class="menu__text menu__text--bold">
                    Description:
                </span>
                {{ obj.description }}
            </p>
            <p class="menu__text">
                <span class="menu__text menu__text--bold">
                    Builders required:
                </span>
                {{ obj.effort }}
                <span v-if="!isEnoughBuilders">*</span>
            </p>
            <p class="menu__text">
                <span class="menu__text menu__text--bold">
                    Cost to build:
                </span>
                {{ obj.cost }}
                <span v-if="!isAffordable">*</span>
            </p>
            <p class="menu__text">
                <span class="menu__text menu__text--bold">
                    Buildings:
                </span>
                {{ buildingList }}
            </p>
            <p v-if="!isBuildable" class="menu__text">
                <span class="menu__text menu__text--bold">
                    Problems:
                </span>
                <ul>
                    <li v-if="isOccupied">There's already a building here!</li>
                    <li v-if="isBusy">Something's already planned here!</li>
                    <li v-if="isQueueFull || !isEnoughBuilders">Your builders are busy at the minute!</li>
                    <li v-if="!isAffordable">You don't have enough money!</li>
                </ul>
            </p>
            <button class="menu__action" v-if="isBuildable" @click="build">
                Build!
            </button>
            <hr>
        </div>
    </div>
</template>

<script>
export default {
    name: "buildDetails",
    methods: {
        build() {
            if (this.isBuildable) {
                this.$store.dispatch("construction/queueBuild", {
                    x: this.x,
                    y: this.y,
                    type: this.type,
                });
                this.$router.push({ name: "game" });
            }
        },
    },
    computed: {
        x() {
            return this.$route.params.x;
        },
        y() {
            return this.$route.params.y;
        },
        type() {
            return this.$route.params.type;
        },
        obj() {
            return this.$store.state.construction.zones[this.type];
        },
        isOccupied() {
            return this.$store.getters["map/isOccupied"](this.x, this.y);
        },
        isBusy() {
            return this.$store.getters["construction/isBusy"](this.x, this.y);
        },
        isQueueFull() {
            return this.$store.getters["construction/queueFull"];
        },
        isEnoughBuilders() {
            return this.$store.getters["construction/isEnoughBuilders"](
                this.obj.effort
            );
        },
        isAffordable() {
            return this.$store.getters["money/balance"] >= this.obj.cost;
        },
        isBuildable() {
            return (
                !this.isQueueFull &&
                !this.isOccupied &&
                !this.isBusy &&
                this.isEnoughBuilders
            );
        },
        buildings() {
            return this.obj.contains.map(
                building =>
                    this.$store.getters["construction/buildings"][building].name
            );
        },
        buildingList() {
            return this.buildings.join(", ");
        },
    },
};
</script>
