<template>
    <div class="menu">
        <h2 class="menu__heading">Building info</h2>
        <div class="menu__content menu__content--pad">
            <h3 class="menu__subheading">{{ name }}</h3>
            <p
                class="menu__text"
                v-if="warnNeeds.length > 0"
            >
                <span class="menu__text menu__text--bold">Urgent needs: </span>
                {{ needs }}
            </p>
            <hr>
        </div>
    </div>
</template>

<script>
import _ from "lodash";
// import TableList from "@/components/TableList";
// import TableListItemZone from "@/components/TableListItemZone";

export default {
    name: "buildingInfo",
    computed: {
        obj() {
            return this.$store.getters["map/buildings"][this.$route.params.id];
        },
        name() {
            return this.obj.name;
        },
        x() {
            return this.obj.x;
        },
        y() {
            return this.obj.y;
        },
        warnNeeds() {
            return _.difference(
                this.obj.needs,
                this.$store.getters["map/needsGrid"][this.y][this.x]
            );
        },
        needs() {
            return this.warnNeeds.join(", ");
        },
    },
    // components: {
    //     TableList,
    //     TableListItemZone,
    // },
};
</script>
