<template>
    <div class="menu">
        <h2 class="menu__heading">Build on lot</h2>
        <div class="menu__content">
            <TableList :header="['Zone Type', 'Builders', 'Cost']">
                <TableListItemZone
                    v-for="item in availableZones"
                    :key="item"
                    :type="item"
                    @expand="showDetails"
                ></TableListItemZone>
            </TableList>
            <hr>
        </div>
    </div>
</template>

<script>
import TableList from "@/components/TableList";
import TableListItemZone from "@/components/TableListItemZone";

export default {
    methods: {
        showDetails(type) {
            this.$router.push({
                name: "buildDetails",
                params: { x: this.x, y: this.y, type },
            });
        },
    },
    computed: {
        x() {
            return this.$route.params.x;
        },
        y() {
            return this.$route.params.y;
        },
        availableZones() {
            return this.$store.getters["construction/availableZones"];
        },
    },
    components: {
        TableList,
        TableListItemZone,
    },
};
</script>
