<template>
    <div class="menu">
        <h2 class="menu__heading">Construction</h2>
        <div class="menu__content menu__content--pad">
            <h3 class="menu__subheading">Builders</h3>
            <p class="menu__text">
                <span class="menu__text menu__text--bold">Builders:</span>
                {{ builders }}
            </p>
            <p class="menu__text">
                <span class="menu__text menu__text--bold">Monthly wages:</span>
                ${{ buildersWages }}
            </p>
            <button class="menu__action" @click="hire">
                Hire a builder (costs ${{ builderWage }}/builder/month)
            </button>
            <button
                class="menu__action"
                @click="fire"
                v-if="canFireBuilder"
            >
                Fire a builder
            </button>

            <hr>

            <h3 class="menu__subheading">Land</h3>
            <p class="menu__text">
                <span class="menu__text menu__text--bold">Size:</span>
                {{ currentSize }}
            </p>
            <button class="menu__action" :disabled="!canExpandY" @click="expandY">
                Expand south ({{ countExpandY }} lots, ${{ costExpandY }})
            </button>
            <button class="menu__action" :disabled="!canExpandX" @click="expandX">
                Expand east ({{ countExpandX }} lots, ${{ costExpandX }})
            </button>
            <hr>

            <h3 class="menu__subheading">Queue</h3>
                <TableList
                    :header="['Action', 'Type', 'Cost', 'Builders', 'Position']"
                >
                    <TableListItemBuildQueue
                        v-for="item in queue"
                        :key="item"
                        :item="item"
                    />
                </TableList>
            <hr>
        </div>
    </div>
</template>

<script>
import { get } from "vuex-dry";

import TableList from "@/components/TableList";
import TableListItemBuildQueue from "@/components/TableListItemBuildQueue";

export default {
    name: "construction",
    computed: {
        currentSize() {
            return (
                this.$store.state.map.width +
                " x " +
                this.$store.state.map.height
            );
        },
        builders: get("construction/builders"),
        buildersWages: get("construction/buildersWages"),
        builderWage: get("construction/builderWage"),
        canFireBuilder: get("construction/canFireBuilder"),
        canExpandX: get("map/canExpandX"),
        canExpandY: get("map/canExpandY"),
        countExpandX: get("map/countExpandX"),
        countExpandY: get("map/countExpandY"),
        costExpandX: get("map/costExpandX"),
        costExpandY: get("map/costExpandY"),
        queue: get("construction/queue"),
    },
    methods: {
        expandX() {
            this.$store.dispatch("money/deduct", {
                amount: this.costExpandX,
                reason: "expand-east",
            });
            this.$store.dispatch("map/expandX");
        },
        expandY() {
            this.$store.dispatch("money/deduct", {
                amount: this.costExpandY,
                reason: "expand-south",
            });
            this.$store.dispatch("map/expandY");
        },
        hire() {
            this.$store.dispatch("construction/hireBuilder");
        },
        fire() {
            this.$store.dispatch("construction/fireBuilder");
        },
    },
    components: {
        TableList,
        TableListItemBuildQueue,
    },
};
</script>
