<template>
    <div class="menu">
        <h2 class="menu__heading">Demolish lot</h2>
        <div class="menu__content menu__content--pad">
            <h3 class="menu__subheading">Confirm</h3>
            <p class="menu__text">
                Are you sure you want to demolish this lot? It will cost {{ cost }} and will require {{ builders }} builders to complete.
            </p>
            <button
                class="menu__action"
                @click="confirm"
            >
                Confirm
            </button>
            <button
                class="menu__action"
                @click="back"
            >
                Cancel
            </button>
            <hr>
        </div>
    </div>
</template>

<script>
import { get } from "vuex-dry";

export default {
    methods: {
        back() {
            this.$router.push({
                name: "game",
            });
        },
        confirm() {
            this.$store.dispatch("construction/queueDemolish", {
                x: this.x,
                y: this.y,
            });
            this.back();
        },
    },
    computed: {
        x() {
            return this.$route.params.x;
        },
        y() {
            return this.$route.params.y;
        },
        cost() {
            return "$" + this.$store.getters["construction/demolishCost"];
        },
        builders: get("construction/demolishEffort"),
    },
};
</script>
