<template>
    <div>
        <div class="game">
            <StatusBar />
            <City />
            <ActionBar />
        </div>
        <transition name="transition-overlay">
            <div
                class="overlay"
                v-if="overlayActive"
                @click.self="$router.push({ name: 'game' })"
            >
                <div class="overlay__dialog">
                    <router-view></router-view>
                </div>
                <p class="overlay__hint">Click outside to close</p>
            </div>
        </transition>
    </div>
</template>

<script>
import StatusBar from "@/components/StatusBar";
import City from "@/components/City";
import ActionBar from "@/components/ActionBar";

export default {
    name: "game",
    components: { StatusBar, City, ActionBar },
    computed: {
        overlayActive() {
            return this.$route.fullPath.includes("/game/");
        },
    },
};
</script>
