<template>
    <div class="home">
        <div class="home__dialog">
            <h1 class="home__title">This is a Town</h1>
            <p>
                A game by Mathew Da Costa, created for Ludum Dare 42.
            </p>
            <table class="home__table">
                <tr>
                    <td>Town Name</td>
                    <td>
                        <input
                            v-model="name"
                            class="home__input"
                        >
                    </td>
                </tr>
                <tr>
                    <td>Mayor Name</td>
                    <td>
                        <input
                            v-model="mayor"
                            class="home__input"
                        >
                    </td>
                </tr>
            </table>
            <p class="home__buttons">
                <a
                    href="#"
                    class="home__button"
                    @click.prevent="start"
                >
                    Start
                </a>
            </p>
        </div>
    </div>
</template>

<script>
import { sync } from "vuex-dry";

export default {
    name: "home",
    computed: {
        name: sync("city/name"),
        mayor: sync("city/mayor"),
    },
    methods: {
        start() {
            this.$store.commit("city/started$assign", true);
            this.$router.push({ name: "game" });
        },
    },
};
</script>
