<template>
    <div class="menu">
        <h2 class="menu__heading">Loans</h2>
        <div class="menu__content menu__content--pad">
            <h3 class="menu__subheading">New</h3>
            <hr>
            <h3 class="menu__subheading">Current</h3>
            <hr>
        </div>
    </div>
</template>

<script>
import { get } from "vuex-dry";

export default {
    name: "loans",
    computed: {
        balance: get("money/balance"),
    },
};
</script>
