<template>
    <div class="menu">
        <h2 class="menu__heading">Finances</h2>
        <div class="menu__content menu__content--pad">
            <h3 class="menu__subheading">Balance</h3>
            <p class="menu__text">
                <span class="menu__text menu__text-bold">Balance:</span>
                ${{ balance }}
            </p>
            <!--
            <button
                class="menu__action"
                @click="toLoans"
            >
                Loans...
            </button>
            -->
            <button
                class="menu__action"
                @click="toHistory"
            >
                History...
            </button>
            <hr>
            <!--
            <h3 class="menu__subheading">Income</h3>
            <hr>

            <h3 class="menu__subheading">Expenses</h3>
            <hr>
            -->
        </div>
    </div>
</template>

<script>
import { get } from "vuex-dry";

export default {
    name: "money",
    computed: {
        balance: get("money/balance"),
    },
    methods: {
        toLoans() {
            this.$router.push({ name: "loans" });
        },
        toHistory() {
            this.$router.push({ name: "transactions" });
        },
    },
};
</script>
