<template>
    <div class="menu">
        <h2 class="menu__heading">Transactions</h2>
        <div class="menu__content">
            <TableList
                :header="['Month', 'Reason', 'Amount']"
                :mainColumn="'Reason'"
            >
                <TableListItemTransaction
                    v-for="(item, id) in transactions"
                    :key="'transaction' + id"
                    :item="item"
                />
            </TableList>
            <hr>
        </div>
    </div>
</template>

<script>
import { get } from "vuex-dry";

import TableList from "@/components/TableList";
import TableListItemTransaction from "@/components/TableListItemTransaction";

export default {
    methods: {
        showDetails(type) {
            this.$router.push({
                name: "buildDetails",
                params: { x: this.x, y: this.y, type },
            });
        },
    },
    computed: {
        transactions: get("money/transactions"),
    },
    components: {
        TableList,
        TableListItemTransaction,
    },
};
</script>
