<template>
    <div class="action">
        <div
            class="action__item action__item--clickable"
            @click="toFinances"
        >
            Finances...
        </div>
        <div
            class="action__item action__item--clickable"
            @click="toConstruction"
        >
            Construction...
        </div>
        <div class="action__pad"></div>
        <div
            class="action__item action__item--clickable"
            @click="advance"
        >
            Next month
        </div>
    </div>
</template>

<script>
import { get } from "vuex-dry";

export default {
    name: "actionbar",
    methods: {
        advance() {
            this.$store.dispatch("simulation/nextMonth");
        },
        toFinances() {
            this.$router.push({ name: "money" });
        },
        toConstruction() {
            this.$router.push({ name: "construction" });
        },
    },
    computed: {
        name: get("city/name"),
        mayor: get("city/mayor"),
        money: get("money/balance"),
    },
};
</script>
