<template>
    <div
        :class="style"
        @click="expand"
        @mouseover="hover"
        @mouseout="unhover"
    >
        {{ obj.name }}
    </div>
</template>

<script>
export default {
    name: "cityZoneBuilding",
    props: {
        pos: Number,
        id: Number,
    },
    computed: {
        style() {
            return {
                zone__building: true,
                ["zone__building--is-" + this.pos]: true,
                "zone__building--warning": this.isWarn,
                "zone__building--severe": this.isSevere,
            };
        },
        obj() {
            return this.$store.getters["map/buildings$find"]("id", this.id);
        },
        satisfaction() {
            return this.$store.getters["map/getBuildingSatisfaction"](this.id);
        },
        isWarn() {
            return !this.isSevere && this.satisfaction < 1;
        },
        isSevere() {
            return this.satisfaction < 0.5;
        },
    },
    methods: {
        expand() {
            this.$router.push({
                name: "buildingInfo",
                params: { id: this.id },
            });
        },
        hover() {
            // if (this.obj.radius) {
            //     this.$store.dispatch("map/highlight", {
            //         x: this.obj.x,
            //         y: this.obj.y,
            //         radius: this.obj.radius,
            //     });
            // }
        },
        unhover() {
            // this.$store.dispatch("map/unhighlight");
        },
    },
};
</script>
