<template>
    <div :class="style">
        <div class="city__occupied" v-if="zone">
            <div class="zone">
                <CityZoneBuilding
                    v-for="(building, pos) in buildings"
                    :key="pos"
                    :pos="pos"
                    :id="building.id"
                />
            </div>
            <router-link
                v-if="!isBusy"
                class="city__action"
                :to="{ name: 'demolish', params: { x, y }}"
            >Demolish...</router-link>
            <p v-else>(demolition pending)</p>
        </div>
        <CityZoneEmpty v-else :x="x" :y="y" />
    </div>
</template>

<script>
import CityZoneEmpty from "./CityZoneEmpty.vue";
import CityZoneBuilding from "./CityZoneBuilding.vue";

export default {
    name: "cityZone",
    props: {
        x: Number,
        y: Number,
    },
    computed: {
        zoneObj() {
            return this.$store.getters["map/zones$find"](zone => {
                return zone.x == this.x && zone.y == this.y;
            });
        },
        type() {
            return this.zoneObj ? this.zoneObj.type : null;
        },
        buildings() {
            return this.zoneObj
                ? this.zoneObj.buildings.map(
                      id => this.$store.getters["map/buildings"][id]
                  )
                : null;
        },
        zone() {
            return this.type
                ? this.$store.getters["construction/zones$get"](this.type)
                : null;
        },
        style() {
            return {
                city__lot: true,
                "city__lot--highlight": this.$store.getters[
                    "map/highlightGrid"
                ][this.y][this.x],
            };
        },
        isBusy() {
            return this.$store.getters["construction/isBusy"](this.x, this.y);
        },
    },
    components: {
        CityZoneEmpty,
        CityZoneBuilding,
    },
};
</script>
