<template>
    <div class="city">
        <table class="city__table">
            <tr
                v-for="(row, y) in grid"
                :key="y"
                class="city__row">
                <td
                    class="city__data"
                    v-for="(id, x) in row"
                    :key="x"
                >
                    <CityZone :x="x" :y="y" />
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
import CityZone from "./CityZone.vue";

export default {
    name: "city",
    components: {
        CityZone,
    },
    computed: {
        grid() {
            return this.$store.getters["map/grid"];
        },
    },
};
</script>
