<template>
    <div class="zone zone--empty">
        <p class="zone__text zone__text--attention">Empty lot</p>
        <p
            class="zone__text zone__text--is-action"
            v-if="!isBusy"
        >
            <router-link
                class="city__action"
                :to="{ name: 'build', params: { x, y }}"
            >Build...</router-link>
        </p>
        <p
            class="zone__text"
            v-else
        >
            (build planned)
        </p>
    </div>
</template>

<script>
export default {
    props: {
        x: Number,
        y: Number,
    },
    computed: {
        isBusy() {
            return this.$store.getters["construction/isBusy"](this.x, this.y);
        },
    },
};
</script>
