<template>
    <div class="status">
        <div class="status__item"> {{ name }} </div>
        <div class="status__item"> {{ mayor }} </div>
        <div class="status__pad"></div>
        <div class="status__item"> {{ month }} {{ year }} </div>
        <div class="status__item"> {{ money }} </div>
    </div>
</template>

<script>
import { get } from "vuex-dry";

export default {
    name: "statusbar",
    computed: {
        name: get("city/name"),
        mayor: get("city/mayor"),
        month: get("simulation/month"),
        year: get("simulation/year"),
        money() {
            return "$" + this.$store.getters["money/balance"];
        },
    },
};
</script>
