<template>
    <tr
        class="tablelist__row"
        @click="expand"
    >
        <td class="tablelist__data">
            {{ zone.name }}
        </td>
        <td class="tablelist__data">
            {{ zone.effort }}
        </td>
        <td class="tablelist__data">
            {{ zone.cost }}
        </td>
    </tr>
</template>

<script>
import { get } from "vuex-dry";

export default {
    props: {
        type: String,
    },
    methods: {
        expand() {
            this.$emit("expand", this.type);
        },
    },
    computed: {
        zone: get("construction/zones", { this: "type" }),
    },
};
</script>
