<template>
    <tr
        class="tablelist__row"
    >
        <td class="tablelist__data">
            {{ type }}
        </td>
        <td class="tablelist__data">
            {{ zone }}
        </td>
        <td class="tablelist__data">
            {{ cost }}
        </td>
        <td class="tablelist__data">
            {{ effort }}
        </td>
        <td class="tablelist__data">
            {{ position }}
        </td>
    </tr>
</template>

<script>
export default {
    props: {
        item: Object,
    },
    computed: {
        type() {
            return this.item.type;
        },
        zone() {
            return this.item.zone;
        },
        cost() {
            return "$" + this.item.cost;
        },
        effort() {
            return this.item.effort;
        },
        position() {
            return this.item.x + ", " + this.item.y;
        },
    },
};
</script>
