<template>
    <table class="tablelist">
        <thead>
            <tr>
                <th
                    v-for="(item, index) in header"
                    :key="item"
                    :class="thClass(item, index)"
                >
                    {{ item }}
                <th/>
            </tr>
        </thead>
        <tbody>
            <slot></slot>
        </tbody>
    </table>
</template>

<script>
export default {
    props: {
        header: Array,
        mainColumn: String,
    },
    methods: {
        thClass(column, index) {
            return {
                "tablelist__header-item": true,
                "tablelist__header-item--main": this.mainColumn
                    ? this.mainColumn === column
                    : index === 0,
            };
        },
    },
};
</script>
