<template>
    <tr
        class="tablelist__row"
    >
        <td class="tablelist__data">
            {{ month }}
        </td>
        <td class="tablelist__data">
            {{ reason }}
        </td>
        <td class="tablelist__data">
            {{ amount }}
        </td>
    </tr>
</template>

<script>
export default {
    props: {
        item: Object,
    },
    computed: {
        amount() {
            return (
                (this.item.amount > 0 ? "+" : "-") +
                "$" +
                Math.abs(this.item.amount)
            );
        },
        reason() {
            return this.item.reason;
        },
        month() {
            return (
                this.$store.getters["simulation/monthFromNo"](this.item.month) +
                " " +
                this.$store.getters["simulation/yearFromNo"](this.item.month)
            );
        },
    },
};
</script>
