<template>
    <div id="app">
        <transition name="transition-view" mode="out-in">
            <router-view/>
        </transition>
    </div>
</template>

<style lang="scss">
@import "sass/index.scss";
</style>
